
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>
<h3>Name</h3>
<p>@Model.Name</p>
<h3>age</h3>
<p>@Model.age</p>
<h3>Address</h3>
<p>@Model.Address</p>
<h3>Salary</h3>
<p>@Model.Salary</p>
<h3>Email</h3>
<p>@Model.Email</p>
<h5><a href="/Employee/index">Back to list</a></h5>