@model Employee
@{
    ViewData["Title"] = "EditForm";
}

<h1>Edite Employee</h1>

<form action="/Employee/EditeInDB">
    <input value="@Model.Id" name ="Id" hidden/>
    <label for="Name">Name</label>
    <div class="form-floating mb-3">
        <input type="text" id="Name" name="Name" value="@Model.Name" />
    </div>
    <label for="age">Age</label>
    <div class="form-floating mb-3">
        <input type="number"  id="age" name="age" value="@Model.age"  />
    </div>
    <label for="Address">Address</label>
    <div class="form-floating mb-3">
        <input type="text" id="Address" name="Address" value="@Model.Address" />
    </div>
    <label for="Salary">Salary</label>
    <div class="form-floating mb-3">
        <input type="number" id="Salary" name="Salary" value="@Model.Salary" />
    </div>
    <label for="Email">Email address</label>
    <div class="form-floating mb-3">
        <input type="text" id="Email" name="Email" value="@Model.Email"/>
    </div>
    <label for="Password">Password</label>
    <div class="form-floating">
        <input type="text" id="Password" name="Password" value="@Model.Password"/>
    </div>
    <label for="Office">Office</label>
    <div class="col-md-4">
        <select name="Office_Id" id="Office" class="form-select">
            @foreach (Office off in ViewBag.Off)
            {
                if(off.Id == Model.Office_Id)
                {
                    <option value="@off.Id" selected>@off.Name</option>
                }
                else
                {
                    <option value="@off.Id" >@off.Name</option>
                }
            }
        </select>
    </div>
    <br />
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
</form>
